[Unit]
Description=start initscript upon first boot
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'sleep 1 ; /usr/sbin/autoConnet.sh'
[Install]
WantedBy=multi-user.target
